@import "vars";

 @font-face {
  font-family: Mangal;
  src: url(../assets/fonts/Mangal/Mangal.ttf);
}


/*
 * Basic
 */


html {
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
    background-color: $background-color;
}
body {
    margin: 0;
    font-family: "Mangal";
    height: 100%;
    background-color: $background-color;
}
a {
    // text-decoration: none;
    text-decoration: none;
    color: $accent;
    // color: #F65D13;
}
a:hover {
    text-decoration: none;
    color: pink;
}
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

hr {
    border: 0;
    height: 0;
    border-top: 0.1vw solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1vw solid rgba(255, 255, 255, 0.3);
    margin-bottom: 3vh;
}


h1 {
    font-size: 160%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 115%;
}


h4 {
    font-size: 106%;
}



/*
 * Navbar
 */

#author-name {
    font-size: 110%;
    color: #272727;
    display: inline-block;
}
.breadcrumb {
    background-color: $background-color;
}
.navbar {
    padding: 6vh 0 3vh 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 0.5vw 0 0.5vw;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

/* Institute Image */


#ins-logo {
	margin: auto;
	display: block;
	max-height: 100px;
	text-align: center;
}

#footer-image {
    width: 8%;
    height: auto;
}

#footer-image-link {
    text-decoration: none;
}



#standard-100 {
    width: 40vw;
    height: auto;
}

#standard-75 {
    width: 50vw;
    height: auto;
}

#standard-50 {
    width: 40vw;
    height: auto;
}

#standard-50h {
    width: 40vh;
    height: auto;
}

#standard-25 {
    width: 30vw;
    height: auto;
}

#standard-25h {
    width: 30vh;
    height: auto;
}

/* Mobile */

@media (max-width: 800px) {
	.navbar {
		text-align: center;
		padding: 4vh 0px 1.5vw 0px;
	}
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
	.navbar {
		text-align: center;
		padding: 4vh 0px 1.5vw 0px;
	}
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
	.navbar {
		text-align: center;
		padding: 4vh 0px 1.5vw 0px;
	}
	#author-name {
		width: 100%;
		float: none;
	}
	#navlist {
		padding: 10px 0 10px 0;
		margin: 0;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	#navlist li.alignable {
		display: inline-block;
	}
	#navlist li.pull-left {
		float: none;
	}
	#navlist li.nav-list {
		margin: 0;
	}
}

@import "typography";
@import "tables";


.carousel-control-prev {
    filter: invert(30%);
}
.carousel-control-next {
    filter: invert(30%);
}


.carousel {
    padding: 2rem;
}


@media (max-width: 2000px) {
    .separator-for-small-screen {
        padding-bottom: 1.25rem;
    }
}

@media (max-width: 950px) {
    .date-row {
        padding-bottom: 0rem;
    }
}

@media (max-width: 2000px) {
    .date-row {
        padding-bottom: 2rem;
    }
}

@media (max-width: 950px) {
    .date-row {
        padding-bottom: 3.2rem;
    }
}

.players {
    font-size: 100%;
}

.index-row {
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.header {
    margin-bottom: 4vh;
}

.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.footer-home {
    margin-top: 3vh;
    text-align: right;
}

.tea-row {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
