@import url(//db.onlinewebfonts.com/c/76620e2b3e9d54512d94915e11659eb5?family=Mangal);
@import "vars";

@font-face {font-family: "Mangal"; src: url("//db.onlinewebfonts.com/t/f2ad400e8a02436a59d5c55019ddf9e7.eot"); src: url("//db.onlinewebfonts.com/t/f2ad400e8a02436a59d5c55019ddf9e7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f2ad400e8a02436a59d5c55019ddf9e7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f2ad400e8a02436a59d5c55019ddf9e7.woff") format("woff"), url("//db.onlinewebfonts.com/t/f2ad400e8a02436a59d5c55019ddf9e7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f2ad400e8a02436a59d5c55019ddf9e7.svg#Mangal") format("svg"); }

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Mangal";
    height: 100%;
}
a {
    // text-decoration: none;
    text-decoration: none;
    // color: $accent;
    color: red;
}
a:hover {
    text-decoration: underline;
    color: grey;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
}


h4 {
    font-size: 110%;
}



/*
 * Navbar
 */

#author-name {
    font-size: 16px;
    color: #272727;
    display: inline-block;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

/* Institute Image */

#ins-logo {
	margin: auto;
	display: block;
	max-height: 100px;
	text-align: center;
}

#footer-image {
    width: 8%;
    height: auto;
}

#footer-image-link {
    text-decoration: none;
}

#standard-100 {
    width: 100%;
    height: auto;
}

#standard-75 {
    width: 75%;
    height: auto;
}

#standard-50 {
    width: 50%;
    height: auto;
}

#standard-25 {
    width: 25%;
    height: auto;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
	.navbar {
		text-align: center;
		padding: 50px 0px 0px 0px;
	}
	#author-name {
		width: 100%;
		float: none;
	}
	#navlist {
		padding: 10px 0 10px 0;
		margin: 0;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	#navlist li.alignable {
		display: inline-block;
	}
	#navlist li.pull-left {
		float: none;
	}
	#navlist li.nav-list {
		margin: 0;
	}
}

@import "typography";
@import "tables";
