/*
table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 130%;
    padding: 0;
}
table tr {
    border-top: 0px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr th {
    font-weight: bold;
    border: 0px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 0px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 25px 13px;
}
table tr th :first-child, table tr td :first-child {
    margin: 0;
}
table tr th :last-child, table tr td :last-child {
    margin: 0;
}
*/

.table tr td {
    border: 0px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 1vh 1vh;
}
