/*
 * Customization Variables
 */

// $accent: #FF0F00;
// $accent: #242424;
$accent: #000000;
$image-size: 85px;

/*
 * Build Variables, don't touch
 */

$max-width: 50rem;
$med-width: 50vw;
$small-width: 60vw;
