---
layout: base
---

{% assign home = "h" %}

<div class="header container">
    <div class="row">
        <div class="col">
            <h3><a href="/" class="fill-div">{{ home }}</a></h3>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <h3>
                {% if page.parent %}
                <a href="{{ site.url }}/{{ page.parent }}">{{ page.parent }}</a> //
                {% endif %}
                <a href="{{ page.url }}">{{ page.title }}</a></h3>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{{ content }}


<div class="header container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <h3 class="footer-home"><a href="/" class="fill-div">{{ home }}</a></h3>
        </div>
    </div>
</div>
